<!-- <body class="d-flex h-100 text-center text-white bg-danger">

  <div class="perfil-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">App-Perfil</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link"  [routerLink]="['/cadastro']" routerLinkActive="active">Cadastre-se</a>
          <a class="nav-link"  [routerLink]="['/listar']" routerLinkActive="active">Usuarios</a>
        </nav>
      </div>
    </header> -->
    <router-outlet></router-outlet>
<!--
  <main class="px-3">
  <h1>Cadastre-se Aqui</h1>
  <p class="lead"> Api de cadastro de usuário</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Cadastre-se</a>
  </p>
</main>
<footer class="mt-auto text-white-50">
  <p>Evelyn Alves , Github <a href="https://github.com/EvelynAlves1998" class="text-white"> @evelynalves1998</a>.</p>
</footer> -->
<!-- </div>
</body> -->


