<app-navbar></app-navbar>

<body class="d-flex h-100 text-center text-white fundo">
  <div class="perfil-container d-flex w-1000 h-100 p-3 mx-auto flex-column">
    <br>
    <br>
    <br>
    <br>
    <br>
    <main class="px-3">
      <h1>Cadastre-se Aqui</h1>
      <p class="lead"> Api de cadastro de usuário</p>
      <p class="lead">
        <a [routerLink]="['/cadastro']" routerLinkActive="active"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white">Cadastre-se</a>
      </p>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</body>
<app-footer class="fixed-bottom"></app-footer>
