<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="perfil-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">App-Perfil</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link"  [routerLink]="['/cadastro']" routerLinkActive="active">Cadastre-se</a>
          <a class="nav-link"  [routerLink]="['/listar']" routerLinkActive="active">Usuarios</a>
        </nav>

      </div>
    </header>
  </div>
</body>
